<%- include ('../plantillas/head', {'titulo': 'Agenda Reumatologia' }) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%- include ('../plantillas/body') %>
        <script src="js/agenda1.js"> </script>
        <script src="js/funciones/ejercicio.js"></script>
        <script src="js/funciones.js"></script>
        <div class="container"><br><br>
            <div class="card">
                <div class="card-body row justify-content-center">
                    <!--formulario-->
                    <div class="col-md-7 col-lg-12">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="background-color:#a6bcf5 ;">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#161414 ;">
                                        <p>
                                            <a class="btn btn-danger" href="/agenda3" role="button">Cancelar</a>
                                        </p>
                                        <h5 class="modal-title text-center text-white" id="exampleModalLabel">Agegar
                                            evento
                                        </h5>
                                        <button id="insertar" type="button" class="btn btn-primary">Hecho</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-4 row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Asunto</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="titulo" placeholder="">
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Empieza</label>
                                            <div class="col-sm-5">
                                                <input type="date" id="fechaI" name="fechaI" class="form-control"
                                                    value="2022-1-1" min="2022-01-01" max="2050-12-31">
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="time" id="horaI" name="horaI" class="form-control"
                                                    value="00:00" min="01:00" max="00:00">
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Termina</label>
                                            <div class="col-sm-5">
                                                <input type="date" id="fechaF" name="fechaF" class="form-control"
                                                    value="2022-1-1" min="2022-01-01" max="2050-12-31">
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="time" id="horaF" name="horaF" class="form-control"
                                                    value="00:00" min="01:00" max="00:00">
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Paciente:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="paciente" placeholder="">
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label ">Costo:</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" id="costo" placeholder="$">
                                            </div>
                                            <label for="staticEmail" class="col-sm-2 col-form-label ">Medico:</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="medico" placeholder="">
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label for="exampleColorInput" class="col-sm-2 col-form-label">Color
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="color"
                                                    value="#563d7c" title="Escoge tu color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table" align="center" style="margin: 0 auto;" style="border:120px ;">
                            <thead>
                                <!--tr style="background-color:#24419e;">
                                    <th colspan="7" class="text-center text-white"> Mis eventos</th>
                                </tr-->
                                <tr>
                                    <th colspan="4">
                                        <div>
                                            <header>
                                                <nav>
                                                    <ul id="menu">
                                                        <li class="tab active"><a href="/agenda3" class="rd">Citas</a>
                                                        </li>
                                                        <li class="tab"><a href="/agenda" class="rd">Reporte</a></li>
                                                    </ul>
                                                </nav>
                                            </header>
                                        </div>
                                    </th>
                                    <td>
                                        <p>
                                        <div id="current_date"></div>
                                        </p>
                                    </td>
                                    <th colspan="2">
                                        <div>
                                            <a type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i></a>
                                            <a class="btn btn-danger" href=" /calenda"><i
                                                    class="fa-solid fa-calendar-days"></i></a>
                                        </div>

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <!-- Modal -->

                        <br>
                        <div class="row g-5 table-responsive">
                            <div class="row mt-5">
                                <div class="col-md-14">
                                    <div class="card-body">
                                        <table id="users" class="table" align="center" style="margin: 0 auto;"
                                            style="border:120px ;">
                                            <thead>
                                                <tr style="background-color: #6200ee;" class="text-white">
                                                    <th></th>
                                                    <th>Fecha</th>
                                                    <th>Paciente</th>
                                                    <th>Razon de la cita</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (alumnos.length>0){ %>
                                                    <% alumnos.forEach(a=> { %>
                                                        <tr>
                                                            <th style="background-color:#4d025cd8; color: aliceblue;"
                                                                width="1%"> <input id="clave" type="hidden" name="id"
                                                                    value="<%= a.id %>">
                                                                <%= a.horaI %>
                                                            </th>
                                                            <th>
                                                                <!--input id="fecha_i" type="text" name="fecha_i" value="<%= a.fecha_i %>"-->
                                                                <%= a.fechaI%>
                                                            </th>
                                                            <th>
                                                                <!---input id="fecha_f" type="text" name="fecha_f" value="<%= a.fecha_f%>"-->
                                                                <%= a.paciente%>
                                                            </th>
                                                            <th>
                                                                <!--input id="hora_f" type="text" name="hora_f" value="<%= a.hora_f %>"-->
                                                                <%= a.titulo%>
                                                            </th>
                                                            <th>
                                                                <button type="submit" class="btn btn-warning"
                                                                    value="Editar" data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModals">
                                                                    <i class="fas fa-edit"></i>
                                                                </button>
                                                                <a id="delete" class="btn btn-danger"
                                                                    value="Eliminar"><i
                                                                        class="fas fa-trash-alt"></i></a>
                                                                <!-- Editar paciente -->
                                                                <div class="modal fade" id="exampleModals" tabindex="-1"
                                                                    aria-labelledby="exampleModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg"
                                                                        style="background-color:#a6bcf5 ;">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header"
                                                                                style="background-color:#161414 ;">
                                                                                <p>
                                                                                    <a class="btn btn-danger"
                                                                                        href="/agenda3"
                                                                                        role="button">Cancelar</a>
                                                                                </p>
                                                                                <h5 class="modal-title text-center text-white"
                                                                                    id="exampleModalLabel">
                                                                                    Editar evento
                                                                                </h5>
                                                                                <button id="update" type="submit"
                                                                                    class="btn btn-primary">Actualizar</button>
                                                                            </div>
                                                                            <!--div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLabel">
                                                                                    Editar evento</h5>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close"></button>
                                                                            </div-->
                                                                            <div class="modal-body">
                                                                                <div class="mb-4 row">
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Descripción</label>
                                                                                    <div class="col-sm-10">
                                                                                        <input type="text"
                                                                                            id="descripcion"
                                                                                            class="form-control"
                                                                                            value="<%= a.titulo %>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mb-4 row">
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Empieza</label>
                                                                                    <div class="col-sm-5">
                                                                                        <input type="text" id="fecha_i"
                                                                                            class="form-control"
                                                                                            value="<%= a.fechaI %>">
                                                                                    </div>
                                                                                    <div class="col-sm-5">
                                                                                        <input type="text" id="hora_i"
                                                                                            class="form-control"
                                                                                            value="<%= a.horaI %>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mb-4 row">
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Termina</label>
                                                                                    <div class="col-sm-5">
                                                                                        <input type="text" id="fecha_f"
                                                                                            class="form-control"
                                                                                            value="<%= a.fechaF %>">
                                                                                    </div>
                                                                                    <div class="col-sm-5">
                                                                                        <input type="text" id="hora_f"
                                                                                            class="form-control"
                                                                                            value="<%= a.horaF %>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mb-4 row">
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Paciente</label>
                                                                                    <div class="col-sm-10">
                                                                                        <input type="text" id="titulo"
                                                                                            class="form-control"
                                                                                            value="<%= a.paciente%>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mb-4 row">
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Costo</label>
                                                                                    <div class="col-sm-2">
                                                                                        <input type="text" id="costo"
                                                                                            class="form-control"
                                                                                            value="<%= a.costo %>">
                                                                                    </div>
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Medico</label>
                                                                                    <div class="col-sm-6">
                                                                                        <input type="text" id="medico"
                                                                                            class="form-control"
                                                                                            value="<%= a.medico %>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mb-4 row">
                                                                                    <label for="staticEmail"
                                                                                        class="col-sm-2 col-form-label">Color</label>
                                                                                    <div class="col-sm-2">
                                                                                        <input type="color"
                                                                                            class="form-control form-control-color"
                                                                                            id="color"
                                                                                            value="<%= a.color %>"
                                                                                            title="Escoge tu color">

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--div class="modal-footer">
                                                                            <button id="cerrar" type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Cerrar</button>
                                                                            <button id="update" type="submit"
                                                                                class="btn btn-primary">Actualizar
                                                                                evento</button>
                                                                        </div-->
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </th>
                                                        </tr>

                                                        <% }) %>
                                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>


        <script>
            $(document).ready(function () {
                $('#users').DataTable();
            });
            fecha = new Date();
            diaSemana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
            mesAnyo = ['Enero', 'Febrero', 'Marzo', 'abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

            document.getElementById("current_date").innerHTML = `${diaSemana[fecha.getDay()]}, ${fecha.getDate()} de ${mesAnyo[fecha.getMonth()]} de ${fecha.getFullYear()}`;



        </script>
        <%- include ('../plantillas/footer') %>